.App {
  text-align: center;
  background-image: url("sal.jpg");
  background-size: cover;
}

.App-logo {
  height: 10vmin;
  margin-bottom: 100px;
  position: absolute;
  top: 80px;
}

.App-logo__left {
  animation: App-logo-spin infinite 20s linear;
  left: 50px;
}

.App-logo__right {
  animation: App-logo-spin infinite 20s linear reverse;
  right: 50px;
}

.App-header {
  background-color: rgba(0, 0, 0, .5);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 20px;
}

.App-link {
  color: #61dafb;
}

ul {
  list-style: none;
  padding: 0;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  background: black;
}

.CE {
  display: flex;
  justify-content: center;
}

.too-many { 
  color: #ffc642;
  animation: blink 2s linear infinite;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}