.bandylist {
  text-align: left;
  width: 90%;
  max-width: 500px;
  padding: 10px;
}
.bandylist-item {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.yes {
  margin-top: 25px;
}
