.bandylist {
    text-align: left;
    width: 200px;
    padding: 10px;
}
.bandylist-item {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.bandylist-remove {
    font-size: 18px;
}